@model RRHHCapucasCoffe.Models.Profesiones.Profesion

@{
    ViewData["Title"] = "Crear Profesión";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="">
    @*<i class="bi bi-exclamation-octagon flex"></i>*@
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Crear Profesión</h3>

        <form class="row g-3" asp-action="CrearProfesion">
            <div class="col-12">
                <label asp-for="ProfesionNombre" class="form-label"></label>
                <input asp-for="ProfesionNombre" type="text" placeholder="" class="form-control">
                <span asp-validation-for="ProfesionNombre" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-check form-switch">
                    <label asp-for="ProfesionActivo" class="form-check-label"></label>
                    <input asp-for="ProfesionActivo" class="form-check-input" type="checkbox" checked>
                </div>
            </div>
            <div class="col-12">
                 <label asp-for="ProfesionUsuarioGrabo" class="form-label"></label>
                <input asp-for="ProfesionUsuarioGrabo" type="text" disabled class="form-control">
            </div>
            <div class="col-12">
                 <label asp-for="ProfesionFechaGrabo" class="form-label"></label>
                <input asp-for="ProfesionFechaGrabo" type="text" disabled class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <button type="reset" class="btn btn-secondary">Limpiar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}