@model RRHHCapucasCoffe.Models.Empleados.EmpleadoCrearPrueba

<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet" />

<form asp-action="InsertarFoto">
    <div class="row g-2">
        <div class="col-12">
            <label asp-for="EmpleadoFotografia" class="form-label"></label>
            <div class="border border-secondary-subtle img-thumbnail">
                <img id="imagen-previa" class="img-fluid" src="~/img/ImgUpload.png" />
            </div>
            <input type="hidden" asp-for="EmpleadoFotografia" id="imagen-recortada" />
        </div>
        <div class="col-12 d-flex align-items-center">
            <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#modal-cropper-empleado">Subir</button>
            <button type="button" class="btn btn-outline-secondary w-100" id="btn-delete-photo">Eliminar</button>
        </div>
    </div>
    <partial name="_ModalEmpleadoFotografia" model="Model"></partial>

    <button type="submit" class="btn btn-primary">Confirmar</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <script>
        $(document).ready(function () {
            var image = $('#img-cropper')[0];
            var cropper;
            var modal = new bootstrap.Modal(document.getElementById('modal-cropper-empleado'));
            $('#img-input').change(function () {
                var imgFile = this.files[0];
                var reader = new FileReader();

                if (cropper) {
                    image.removeAttribute('src'); // Elimina el atributo 'src' de la imagen
                    cropper.destroy();
                }

                reader.onload = function (e) {
                    image.src = e.target.result;
                    initializeCropper();
                };
                reader.readAsDataURL(imgFile);
            });
            function initializeCropper() {
                cropper = new Cropper(image, {
                    aspectRatio: 1, // Cambia esto según tus necesidades
                    viewMode: 1, // Opciones de visualización para ajustar la imagen
                });
            }
            $('#crop-button').click(function () {
                var canvas = cropper.getCroppedCanvas();
                var croppedImageBase64 = canvas.toDataURL('image/jpeg');
                $('#imagen-recortada').val(croppedImageBase64);
                var previewImage = document.getElementById('imagen-previa');
                previewImage.src = canvas.toDataURL(); // Actualiza la imagen previa
                modal.hide(); // Cierra el modal
            });
        });

        $('#btn-delete-photo').click(function () {
            $('#imagen-previa').attr('src', '');

            // Establece la nueva imagen desde la carpeta 'img/'
            var nuevaImagenSrc = '/img/ImgUpload.png'; // Reemplaza 'tu-nueva-imagen.jpg' con el nombre de tu nueva imagen
            $('#imagen-previa').attr('src', nuevaImagenSrc);
        });

    </script>
}
