@model Departamento

@{
    ViewData["Title"] = "Crear Departamento";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Crear Departamento</h3>

        <form class="row g-3" asp-action="CrearDepartamento">
            <div class="col-12">
                <label asp-for="DivisionPoliticaDepartamentoNombre" class="form-label"></label>
                <input asp-for="DivisionPoliticaDepartamentoNombre" type="text" class="form-control">
                <span asp-validation-for="DivisionPoliticaDepartamentoNombre" class="text-danger"></span>
            </div>
            <div class="col-12">
                @*<div class="form-check">
                    <label class="form-check-label" for="gridCheck1">Activo</label>
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                </div>*@

                <div class="form-check form-switch">
                    <label asp-for="DivisionPoliticaDepartamentoActivo" class="form-check-label"></label>
                    <input asp-for="DivisionPoliticaDepartamentoActivo" class="form-check-input" type="checkbox">
                </div>
            </div>
            <div>
                <span class="card-subtitle">País al que pertenece el departamento:</span>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Pais</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <button for="select1" value="" type="reset" class="bi bi-trash btn btn-secondary"></button>
                            </th>
                            <th>
                                <select id="select1" name="select1" class="form-select" aria-label="Default select example">
                                    <option value="" selected>Selecciona un pais</option>
                                </select>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <button for= type="reset" class="btn btn-secondary">Limpiar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}