@model RRHHCapucasCoffe.Models.Departamentos.DeptoCrearViewModel
@{
    ViewData["Title"] = "Crear Departamento";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Crear Departamento</h3>
        
        <form class="row g-3" asp-action="CrearDepartamento" onsubmit="return validarFormularioDt()">
            <div class="col-12">
                <label asp-for="DepartamentoNombre" class="form-label"></label>
                <input name="DepartamentoNombre" asp-for="DepartamentoNombre" type="text" class="form-control" autocomplete="off">
                <span asp-validation-for="DepartamentoNombre" class="text-danger"></span>
                <span id="validation-input-departamento" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-check form-switch">
                    <label asp-for="DepartamentoActivo" class="form-check-label"></label>
                    <input name="DepartamentoActivo" asp-for="DepartamentoActivo" class="form-check-input" type="checkbox" checked>
                </div>
            </div>
            <div class="accordion accordion-flush" id="accordionFlush">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button id="accordion-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Pais al que pertenece el departamento:
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
                        <div class="accordion-body">
                            <div class="row">
                                <div>
                                    <span id="validation-summary" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <select class="form-select" id="select-pais-dt" asp-items="@Model.Paises">
                                        <option selected>Seleccione una opción</option>
                                    </select>
                                    <div>
                                        <span id="validation-pais" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <button type="button" onclick="addPaisDt()" class="d-flex align-items-center btn btn-outline-primary mx-1" title="Agregar">
                                        <span>
                                            <i class="bi bi-file-plus d-block d-lg-none"></i>
                                            <span class="mx-1 d-none d-lg-block">Agregar</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="row justify-content-center table-responsive mt-1">
                                    <table class="table col-12 mb-1">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Pais</th>
                                            </tr>
                                        </thead>
                                        <tbody id="data-table-body-dt">
                                            <tr id="validation-row" class="">
                                                <td></td>
                                                <td><span id="validation-pais-table" class="text-danger"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Departamento", "Departamentos")'">Cancelar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/depto.js" asp-append-version="true"></script>

    <script>
        $('#select-pais-dt').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
        });
    </script>
}

