@model IEnumerable<RRHHCapucasCoffe.Models.Departamentos.Departamento>

@{
    ViewData["Title"] = "Departamentos"; 
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mx-3 mt-2 py-0">Departamentos</h5>
        <div class="d-flex" id="container-buttons">
            <div class="p-1 flex-fill">
                <div class="d-flex d-flex justify-content-end dt-buttons">
                    <button type="submit" class="d-flex align-items-center btn btn-outline-primary mx-1" onclick="location.href='@Url.Action("CrearDepartamento", "Departamentos")'" title="Agregar">
                        <span>
                            <i class="bi bi-file-plus d-block d-lg-none"></i>
                            <span class="mx-1 d-none d-lg-block">Agregar</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body mt-3">
        <div class="table-responsive">
            <table class="table dataTable" id="datatable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Departamento</th>
                        <th>Departamento Activo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var departamento in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <a class="btn btn-outline-primary me-1" asp-action="EditarDepartamento" asp-route-departamentoId="@departamento.DepartamentoId" title="Editar">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a class="btn btn-outline-danger" title="Eliminar" data-bs-toggle="modal" data-bs-target="#basicModal">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                @departamento.DepartamentoNombre
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" disabled checked="@departamento.DepartamentoActivo">
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<partial name="_EliminarDepartamento" />*@
