@model RRHHCapucasCoffe.Models.Departamentos.DeptoViewModel

@{
    ViewData["Title"] = "Editar Departamento";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Editar Departamento: @Model.DepartamentoNombre</h3>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="">
            @*<i class="bi bi-exclamation-octagon flex"></i>*@
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        <form class="row g-3" asp-action="EliminarDepartamentoSelect">
            <input type="hidden" asp-for="DepartamentoId" />
            <span class="text-warning">Confirme la eliminacion de los datos</span>
            <div class="col-12">
                <label asp-for="DepartamentoNombre" class="form-label"></label>
                <input asp-for="DepartamentoNombre" type="text" class="form-control required">
                <span asp-validation-for="DepartamentoNombre" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-check form-switch">
                    <label asp-for="DepartamentoActivo" class="form-check-label"></label>
                    <input asp-for="DepartamentoActivo" class="form-check-input" type="checkbox">
                </div>
            </div>
            <div>
                <span class="card-subtitle">País al que pertenece el departamento:</span>

                <table id="data-table" class="table">
                    <thead>
                        <tr>
                            <th>Pais</th>
                        </tr>
                    </thead>
                    <tbody id="data-table-body">
                        @foreach (var pais in Model.Pais)
                        {
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="PaisId" value="@pais.PaisNombre" disabled/>
                                    <input type="hidden" name="PaisId" value="@pais.PaisId" />
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="text-center">
                                <a onclick="agregarFila()" class="btn btn-outline-primary">Añadir fila</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Departamento", "Departamentos")'">Cancelar</button>
            </div>
        </form>
    </div>
</div>
