@model Aldea

@{
    ViewData["Title"] = "Aldea";
}

<div class="card">

    <div class="card-header">
        <h5 class="card-title">Aldeas</h5>
        <div class="d-flex justify-content-between">
            <div class="datatable-search d-inline">
                <input class="datatable-input" placeholder="buscar..." type="search" title="BuscarTabla" />
            </div>
            <div class="d-flex ">
                <button type="button" class="mx-0 d-flex align-items-center btn btn-outline-primary" onclick="location.href='@Url.Action("CrearAldea")'">
                    <i class="bi bi-file-plus"></i>
                    <span class="mx-1 d-none d-md-block">Agregar</span>
                </button>
                <button type="button" class="mx-1 d-flex align-items-center btn btn-outline-primary">
                    <i class="bi bi-file-pdf"></i>
                    <span class="mx-1 d-none d-md-block ">PDF</span>
                </button>
                <button type="button" class="mx-0 d-flex align-items-center btn btn-outline-primary">
                    <i class="bi bi-file-excel"></i>
                    <span class="mx-1 d-none d-md-block">Excel</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card-body ">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Aldea</th>
                        <th>Aldea Activo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>