@model Aldea

@{
    ViewData["Title"] = "Crear Aldeas";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Crear Aldea</h3>

        <form class="row g-3" asp-action="CrearAldea">
            <div class="col-12">
                <label asp-for="DivisionPoliticaAldeaNombre" class="form-label"></label>
                <input asp-for="DivisionPoliticaAldeaNombre" type="text" class="form-control">
                <span asp-validation-for="DivisionPoliticaAldeaNombre" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-check form-switch">
                    <label asp-for="DivisionPoliticaAldeaActivo" class="form-check-label"></label>
                    <input asp-for="DivisionPoliticaAldeaActivo" class="form-check-input" type="checkbox">
                </div>
            </div>

            <div>
                <span>País, departamento y municipio al que pertenece la aldea:</span>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Pais</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Municipio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>

                            </th>
                            <th>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Selecciona un pais</option>
                                </select>
                            </th>
                            <th>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Selecciona un departamento</option>
                                </select>
                            </th>
                            <th>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected disabled>Selecciona un municipio</option>
                                </select>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <button type="reset" class="btn btn-secondary">Limpiar</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}