@model RRHHCapucasCoffe.Models.Aldeas.Aldea

@{
    ViewData["Title"] = "Crear Aldeas";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Crear Aldea</h3>

        <form class="row g-3" asp-action="CrearAldea">
            <div class="col-12">
                <label asp-for="DivisionPoliticaAldeaNombre" class="form-label"></label>
                <input asp-for="DivisionPoliticaAldeaNombre" type="text" class="form-control">
                <span asp-validation-for="DivisionPoliticaAldeaNombre" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-check form-switch">
                    <label asp-for="DivisionPoliticaAldeaActivo" class="form-check-label"></label>
                    <input asp-for="DivisionPoliticaAldeaActivo" class="form-check-input" type="checkbox">
                </div>
            </div>
            <div>

            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <button type="reset" class="btn btn-secondary">Limpiar</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}