@{
    ViewData["Title"] = "Home Page";
}
@*<div class="">
    <img class="mt-4 w-100" src="/img/CapucasIndex.png"/>
</div>*@

<form>
    
</form>

<div class="row g-3">
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <select class="form-select select2" id="select-pais">
            <option selected>Seleccione una opción</option>
            <option>opcion 1</option>
            <option>opcion 1</option>
            <option>opcion 1</option>
            <option>opcion 1</option>
            <option>opcion 1</option>
            <option>opcion 1</option>
            <option>opcion 1</option>
            <option>opcion 1</option>
            <option>opcion 1</option>
        </select>
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group col-12">
        <label class="form-label">prueba</label>
        <input type="text" class="form-control" />
    </div>
</div>
